.body-landing{
    input{
        display: block;
        margin:10px 0;
    }
}

section{
    height: 90vh;
    padding: 50px;
    background-color: rgba(196, 28, 28, 0.5);
    margin: 10px 0;
    .row{
        align-items: center;
    }
}

footer{
    background-color: #000000;
    color: white;
}